.editor {
	background-color: #FF0000;
}

.toolbar {
	background-color: #8B998B;
	height: 45px;
	width: 100%;
}

.canvasGroup {
	position: absolute;
	top: 90px;
	left: 0px;
	/*background-color: #DED5C9;*/
	overflow: auto;
	width: 100%;
	z-index: 0;
}