.draw-canvas-holder {
  background-color: #ff0000;
	overflow:auto;
	border:2px solid #000000;
}

.canvasGroup {
	background-color: lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 1200px;
	height: 1200px;
}


