

html {
  /*box-sizing: border-box;
	}

	*, *:before, *:after {
  box-sizing: inherit;*/
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  /*max-height: 100vh;*/
  /*position:absolute; top:0; bottom:0; right:0; left:0; */
}

html {
  /*max-height: 100vh;*/
}
